

<style>
div#he {
	display: block;
	width: 500px;
	margin-left:370px;
}
</style>
<div id='he'><h2 align='center'>LISTING BOOKS</h2><hr /></div><br /><br />
<div id="results">
<table align='center' cellspacing='10px' border='0px'>
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Author name</th>
      <th>No of pages</th>
      <th>Book type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_title %></td>
        <td><%= book.author_name %></td>
        <td><%= book.no_of_pages %></td>
        <td><%= book.book_type %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


<br><tr></tr>
<tr><td><td><td>
<%= link_to 'New Book', new_book_path %></td></td></td><td>
<%= link_to 'Home', admincontroller_adminhome_path %></td></tr></table></div>
