
<%if current_user.role.role!="admin"%>
<%= link_to image_tag('homeicon.jpg'),users_userhome_path %>
<%else%>
<%= link_to image_tag('homeicon.jpg'),admincontroller_adminhome_path%>
<%end%>
<div id='he'><h2><center>LISTING BOOKS</center></h2><hr /></div><br /><br />
<table align='center' cellspacing='10px' border='0px'>  
    <tr>
      <td><strong>Book Title</strong></td>
      <td><strong>Author name</strong></td>
      <td><strong>No of pages</strong></td>
      <td><strong>Book type</strong></td>
      <td><strong>Release Date</strong></td>
    </tr>  
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_title %></td>
        <td><%= book.author_name %></td>
        <td><%= book.no_of_pages %></td>
        <td><%= book.book_type %></td>
	<td><%= book.releasedate %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<br></table>
<table align='center' cellspacing='10px' border='0px'>
<tr><td><td><td>
<%= will_paginate @books %></td></td></td></tr><tr><td><td>
<%= link_to 'New Book', new_book_path %></td></td></td><td>
</table>



