<h1>User Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @detail.firstname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @detail.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @detail.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @detail.contact %>
</p>

<h1>Issue Details</h1>

<%= link_to 'Back', admincontroller_adminrole_path %>
